#music-box{
    display: grid;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    grid-column: 2/3;
    grid-row: 3/4
}

.grid-square{
    width: 100%;
    height: 100%;
}

.grid-container:hover{
    background: transparent;
    background-image: url(../img/pointer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.note {
    background: transparent;
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}

.quarter{
    content: url(../img/quarter.png);
}

.quarter.line{
    content: url(../img/quarter-line.png);
}