#navbar{
    display: grid;
    background-color: rgb(114, 114, 114);
    height: 100%;
    grid-row: 1/2;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
    column-gap: 10px;
}

#size-slider-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    column-gap: 2px;
    grid-column: 1/3;
}

#size-slider {
    grid-column: 2/5;
}

#zoom-out-icon{
    grid-column: 1/2;
}

#zoom-in-icon{
    grid-column: 5/6;
}

#generate-btn{
    grid-column: 8/9;
}

#play-btn {
    grid-column: 7/8;
    background-image: url("../img/play.png");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#clear-btn {
    grid-column: 6/7;
}

#navbar button {
    color: white;
    font-size: large;
    border: none;
    background-color: transparent;
}

#navbar button:hover {
    background-color: rgb(167, 167, 167);
}
