.piano-key.white-key {
    background-color: white;
    border-bottom: 1px solid black;
}
.piano-key.black-key {
    display: grid;
    border-bottom: 1px solid white;
    grid-template-columns: 50% 50%;
}
